.l1 {
  color: white;
  padding-top: 12px;
  padding-bottom: 231px;
  background: url(../assets/index/index-l1-mobile-bg.png) no-repeat bottom right;
  @media(min-width: 993px) {
    background: url(../assets/index/index-l1-desktop-bg.png) no-repeat bottom center;
    margin-top: -45px;
    padding-top: 156px;
    padding-bottom: 60px;

  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 17px;

    .text-1 {
      padding-left: 1px;
    }

    .text-2 {
      padding-left: 39px;
    }

    .text-3 {
      padding-left: 60px;
    }

    .text-4 {
      padding-left: 12px;
    }

    @media(min-width: 993px) {
      font-size: 72px;
      line-height: 72px;
      margin-left: -11px;
      margin-bottom: 32px;
      .text-1 {
        padding-left: 1px;
      }

      .text-2 {
        padding-left: 83px;
      }

      .text-3 {
        padding-left: 129px;
      }

      .text-4 {
        padding-left: 23px;
      }
    }
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding-left: 4px;
    letter-spacing: .7px;
    margin-bottom: 11px;
    @media(min-width: 993px) {

      font-size: 16px;
      line-height: 28px;
      max-width: 360px;
      margin-left: 109px;
      margin-bottom: 32px;
    }
  }

  .apply-btn {
    margin-left: 5px;
    @media(min-width: 993px) {
      margin-left: 105px;
      margin-bottom: 158px;
    }
  }

  @media(min-width: 993px) {
    .l2__person {
      margin-left: 108px;
    }
  }
}

.l2 {
  padding-top: 64px;
  padding-bottom: 55px;
  background: #1B1E23;

  @media(min-width: 993px) {
    padding-top: 160px;
    padding-bottom: 156px;
  }

  &__person {
    display: flex;
    align-items: center;
    margin-bottom: 47px;

    .img {
      margin-right: 17px;
      width: auto;
      max-width: 25%;

      img {
        border-radius: 100%;
        max-width: 100%;
      }
    }

    .description {
      max-width: 65%;
      color: white;

      .name {
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;
        letter-spacing: .8px;
      }

      .whois {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .6px;
        opacity: 0.5;
      }
    }

    @media(min-width: 993px) {
      .img {
        margin-right: 17px;
      }
      .description {
        .name {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
  }

  &__text {
    color: white;

    .why {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      opacity: 0.5;
      margin-bottom: 13px;
      @media (min-width: 993px) {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 27px;
      }
    }

    .main {
      font-family: Playfair Display, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 25px;

      &:after {
        content: '';
        width: 164px;
        height: 2px;
        background: $red;
        display: block;
        margin-top: 24px;
      }

      @media(min-width: 993px) {
        font-size: 48px;
        line-height: 64px;
        margin-left: -5px;
        margin-bottom: 48px;
        &:after {
          margin-top: 40px;
          margin-left: 4px;
        }
      }
    }

    .common {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: .7px;
      margin-bottom: 23px;
      @media(min-width: 993px) {
        max-width: 400px;
        font-size: 16px;
        line-height: 28px;
        margin-left: 110px;
        margin-bottom: 33px;
        span {
          height: 15px;
        }
      }
    }
  }

  .apply-btn {
    margin-left: 5px;
    @media(min-width: 993px) {
      margin-left: 97px;
    }
  }

  &__img-preview {
    padding-top: 240px;
    position: relative;

    .back {
      width: 100%;
      max-width: 100%;
    }

    .front {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-33.9%) translateY(67.6%);
    }
  }
}

.l3 {
  padding-top: 60px;
  padding-bottom: 17px;
  @media(min-width: 993px) {
    padding-top: 192px;
    padding-bottom: 150px;
  }

  &.jarallax {
    position: relative;
    z-index: 0;

    > .jarallax-img {
      position: absolute;
      object-fit: cover;
      /* support for plugin https://github.com/bfred-it/object-fit-images */
      font-family: 'object-fit: cover;';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    [id^="jarallax-container"]{
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: url(../assets/index/parallax-fade.png);
        background-size: cover;

      }
    }
  }

  video {
    transition: transform 0.1s ease 0s;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &__block {
    color: white;
    text-align: center;
    margin-bottom: 45px;

    .num {
      font-style: normal;
      font-weight: 300;
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -.3px;
      margin-bottom: 4px;
    }

    .text {
      font-family: Playfair Display, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: .5px;
    }

    @media(min-width: 993px) {
      .num {
        font-size: 96px;
        line-height: 96px;
        margin-bottom: 13px;
      }
      .text {
        font-size: 24px;
        line-height: 32px;
      }

    }
  }
}

.l4 {
  background: #1B1E23;
  padding-top: 64px;
  padding-bottom: 51px;

  .landing-title {
    text-align: center;
    margin-bottom: 16px;
  }

  @media(min-width: 993px) {
    position: relative;
    padding-top: 165px;
    padding-bottom: 100px;
    overflow: hidden;
    .landing-title {
      text-align: left;
      margin-top: 39px;
      margin-left: -4px;
      margin-bottom: 40px;
    }
    .slider-container {
      position: relative;
      left: 33.3%;
      margin-top: -264px;
    }
  }
}

.l5 {
  background: #1B1E23;
  padding-bottom: 24px;

  .landing-title {
    margin-bottom: 16px;
    text-align: center;
  }

  .owl-dots {
    margin-top: 18px !important;
  }
  @media(min-width: 993px){
    padding-top: 64px;
    padding-bottom: 100px;
    overflow: hidden;
    .landing-title {
      margin-bottom: 40px;
    }

    .slider-container{
      position: relative;
      .owl-nav{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        .owl-prev,.owl-next{
          cursor: pointer;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 56px;
          height: 56px;
          border-radius: 100%;
          background: transparent;
          border: 1px solid rgba(255,255,255,.1);
          transition: all .2s;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          img{
            position: relative;
            z-index: 3;
          }
          &:not(.disabled):after{
            content: '';
            position: absolute;
            z-index: 2;
            width: 56px;
            height: 56px;
            border-radius: 100%;
            border: 1px solid transparent;
            border-right: 1px solid $red;
            transition: all .2s;

            top: -1px;
            left: -1px;
          }
          &:not(.disabled):hover{
            border-color: $red;
            &:after{
              opacity: 1;
            }
          }
        }
        .owl-prev{
          left: -96px;
        }
        .owl-next{
          right: -64px;
        }
        .owl-prev:after{
          right: 1px;
          transform: rotate(-135deg);
        }
        .owl-next:after{
          left: 1px;
          transform: rotate(-45deg);
        }
      }
    }
  }

}

.l6 {
  background: #1B1E23;
  padding-top: 27px;
  color: white;
  padding-bottom: 64px;
  @media(min-width: 993px){
    padding-top: 65px;
    padding-bottom: 187px;
  }
  .landing-title {
    margin-bottom: 24px;

    &:after {
      content: '';
      width: 164px;
      height: 2px;
      background: $red;
      display: block;
      margin-top: 24px;
    }
    @media(min-width: 993px){
      margin-left: -5px;
      max-width: 300px;
      margin-bottom: 40px;
      &:after{
        margin-left: 4px;
        margin-top: 40px;
      }
    }
  }

  .l6__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .6px;
    margin-bottom: 32px;

    @media(min-width: 993px){
      font-size: 16px;
      line-height: 28px;
      margin-left: 109px;
      letter-spacing: .7px;
      max-width: 400px;
      span{
        height: 16px;
      }
    }
  }

  .apply-btn {
    margin-left: 1px;
    @media(min-width: 993px){
      margin-left: 99px;
    }
  }

  .before-after-block {
    padding-top: 55px;
    margin: 0 5px 0 6px;
    @media (min-width:993px) {
      padding-top: 27px;
      img{
        width: 400px;
        height: 480px;
      }
      position: relative;
      &:before{
        content: '';
        background: #18191A;
        opacity: 0.7;
        position: absolute;
        width: 100% ;
        height: 359px;
        bottom: -130px;
        left: 0;
        z-index: 0;
      }
    }
  }

  .time-table-btn {
    margin-top: 20px;
    background: rgba(255, 255, 255, .05);
    color: white;
    padding: 17px 24px 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: all .2s;
    &:hover {
      text-decoration: none;
      background: rgba(255, 255, 255, .2);
    }
    @media(min-width:993px){
      margin-top: 35px;
    }
  }
}

.landing-title {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 16px;
  @media(min-width: 993px) {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 40px;
  }
}

.apply-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: $red;
  display: inline-flex;
  align-items: center;
  transition: all .2s;

  svg {
    margin-right: 8px;

    > * {
      transition: all .2s;
    }
  }

  &:hover {
    text-decoration: none;
    color: white;

    svg path, svg rect {
      stroke: white;
    }
  }
}

.beer-handle {
  width: 44px;
  height: 44px;
  background: transparent;
  border: 3px solid white;
  top: 50.5%;

  &:before, &:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid white;
    content: "";
    height: 0;
    position: absolute;
    top: 50%;
    transform-origin: 0 0;
    width: 0;
  }

  &:before {
    left: 1px;
    transform: rotate(-90deg);
    top: 65%;
  }

  &:after {
    right: -9px;
    transform: rotate(90deg);
    top: 35%;
  }
}

.beer-reveal {
  border-right: 3px solid white;
}

.slider-nav{
  margin-left: -4px;
  .owl-nav{
    .owl-prev{
      margin-right: 16px;
    }
    .owl-prev,.owl-next{
      cursor: pointer;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      background: transparent;
      border: 1px solid rgba(255,255,255,.1);
      position: relative;
      transition: all .2s;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img{
        position: relative;
        z-index: 3;
      }
      &:not(.disabled):after{
        content: '';
        position: absolute;
        z-index: 2;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        border: 1px solid transparent;
        border-right: 1px solid $red;
        transition: all .2s;
        top: -1px;
        left: -1px;
      }
      &:not(.disabled):hover{
        border-color: $red;
        &:after{
          opacity: 1;
        }
      }
    }
    .owl-prev:after{
      right: 1px;
      transform: rotate(-135deg);
    }
    .owl-next:after{
      left: 1px;
      transform: rotate(-45deg);
    }
  }
}
