.teachers {
  background: #1B1E23;
  padding-top: 24px;
  padding-bottom: 104px;
  @media(min-width: 993px) {
    padding-top: 82px;
    padding-bottom: 113px;
  }
}

.teacher {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 16px;
  margin: 0 5px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  @media(min-width: 993px) {
    margin: 0 0 48px;
    padding: 0 0 20px;
    flex-wrap: nowrap;
  }

  &__left {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    .img {
      width: 80px;
      height: 80px;
      margin-right: 16px;

      img {
        border-radius: 100%;
      }
    }

    .text {
      > a {
        display: block;
      }

      .inst, .phone {
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: .8px;

        &:hover {
          color: $red;
          text-decoration: none;
        }
      }

      .inst {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        svg {
          margin-right: 8px;
        }
      }
    }

    @media(min-width: 993px) {
      width: 28.6%;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: 0;
      .img {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 32px;

        img {
          border-radius: 0;
        }
      }

      .text {
        height: 100%;

        .inst, .phone {
          font-size: 16px;
          line-height: 28px;

          svg {
            margin-left: 15px;
          }
        }
      }
    }
  }

  &__right {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;

    .name {
      font-family: Playfair Display, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 16px;
      letter-spacing: .8px;
      width: 100%;
      @media(min-width: 993px) {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 1.2px;
        order: 1;
        margin-bottom: 16px;
      }
    }

    .position {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 8px;
      letter-spacing: .8px;
      width: 100%;
      @media(min-width: 993px) {
        width: auto;
        order: 3;
        margin-left: auto;
        font-size: 16px;
        line-height: 28px;
      }
    }

    .text {
      width: 100%;
      color: white;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 16px;
      letter-spacing: 0.6px;

      &.--gold {
        letter-spacing: 0.75px;
        margin-bottom: 8px;
        color: $gold;
        @media(min-width: 993px) {
          max-width: 80%;
          letter-spacing: .8px;
          order: 2;
          margin-bottom: 23px;
        }
      }

      .spacer {
        display: none;
      }

      @media(min-width: 993px) {
        font-size: 16px;
        line-height: 28px;
        order: 4;
        letter-spacing: .72px;
        margin-bottom: 29px;
        .spacer {
          display: block;
          height: 16px;
        }
      }
    }

    @media(min-width: 993px) {
      width: 68.35%;
      margin-left: auto;
      height: 100%;
      .sertificates {
        order: 5;
      }
    }
  }
}

.sertificates {
  display: flex;
  flex-wrap: wrap;
  @media(min-width: 993px){
    margin-bottom: 20px;
  }
  &__title {
    width: 100%;
    font-family: Playfair Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-bottom: 16px;
    @media (min-width: 993px) {
      margin-bottom: 20px;
    }
  }

  &__item {
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
